<h1>Listing notes</h1>

<table>
  <tr>
    <th>Contenthash</th>
    <th>Title</th>
    <th>Content raw</th>
    <th>Content markdown</th>
    <th>Content html</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @notes.each do |note| %>
  <tr>
    <td><%= note.contentHash %></td>
    <td><%= note.title %></td>
    <td><%= note.content_raw %></td>
    <td><%= note.content_markdown %></td>
    <td><%= note.content_html %></td>
    <td><%= link_to 'Show', note %></td>
    <td><%= link_to 'Edit', edit_note_path(note) %></td>
    <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Note', new_note_path %>
