<p id="notice"><%= notice %></p>

<p>
  <b>content_hash:</b>
  <%= @note.content_hash %>
</p>

<p>
  <b>Title:</b>
  <%= @note.title %>
</p>

<p>
  <b>Content raw:</b>
  <%= truncate @note.content_raw, length: 300 %>
</p>

<%= button_to "raw->markdown", raw2markdown_note_path(@note) %>

<p>
  <b>Content markdown:</b>
  <%= truncate @note.content_markdown, length: 300 %>
</p>

<%= button_to "markdown->html", markdown2html_note_path(@note) %>

<p>
  <b>Content html:</b>
  <%= truncate @note.content_html, length: 300 %>
</p>


<%= link_to 'Back', notes_path %>
