<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Camk2" %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="navbar navbar-fluid-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <%# fluid短縮時のpulldown button %>
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/notes">Camk2</a>
          <div class="container-fluid nav-collapse">
            <ul class="nav pull-right">
              <% if signed_in? %>
                <li><%= link_to "設定", settings_path %></li>
                <li><%= link_to "Sign out", destroy_user_session_path %></li>
              <% else %>
                <li><%= link_to "Sign in with EverNote", user_omniauth_authorize_path(:evernote) %></li>
              <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span9">

          <%= bootstrap_flash %>
          <%= yield %>

        </div><!--/span-->
      </div> <!--/row-->

    </div> <!-- /container -->

    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>
  </body>
</html>
